.main-add-box{
    max-width: 25%;
    min-height: 200px;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    background-color: #eceff1;
}

.add-body{
    padding-top: 20px;
    min-height: 80px;
}

.add-btn {
    text-align: right;
    min-height: 40px;
}

