.main-add-box{
    max-width: 55%;
    min-height: 150px;
    max-height: 300px;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    background-color: #eceff1;
}

.braindump-add-box{
    max-width: 65%;
    min-height: 200px;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    background-color: #eceff1;
}

.workspoon-add-box{
    max-width: 85%;
    min-height: 200px;
    max-height: 500px;
    padding: 10px;
    border-radius: 15px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    background-color: #eceff1;
}

.add-body{
    padding-top: 10px;
    min-height: 50px;
}
 
.add-btn {
    text-align: right;
    min-height: 40px;
}

.image3{
    float: left;
    transform: scaleX(-1);
    width: 15%
}

.image4{
    float: right;
    transform: scaleX(-1);
    width: 10%
}

