.note-box{
    min-width: 200px;
    min-height: 200px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    display: table;
    background-color: lavender;
}

.strikethrough{
    text-decoration: line-through;
    background-image: './red_cross.png';
}

.edit-note-box{
    min-width: 400px;
    min-height: 400px;
    display: table;
    background-color: lavender;
}

.note-checkbox,
.delete-note-btn {
    text-align: right;
    min-height: 40px;
}
.note-body{
    min-height: 100px;
    vertical-align: center;
}

.note-btns {
    min-height: 40px;
    vertical-align: bottom;
}

/* Setting the colors of each sticky note, based on it's priority/category status */
.NOW{
    background-color: #ef9a9a;
}

.soonish{
    background-color: #ffcc80;
}

.later{
    background-color: #fff59d;
}