.note-box{
    min-width: 200px;
    min-height: 200px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    display: table;
    background-color: lavender;
}

.edit-note-box{
    min-width: 400px;
    min-height: 400px;
    display: table;
    background-color: lavender;
}

.note-checkbox{
    text-align: right;
    min-height: 40px;
}
.note-body{
    min-height: 100px;
    vertical-align: center;
}

.note-btns {
    min-height: 40px;
    vertical-align: bottom;
}