.note-box{
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    display: table;
}

.strikethrough{
    text-decoration: line-through;
}

.edit-note-box{
    max-height: 200px;
    padding: 10px;
    text-align: center;
    display: table;
    background-color: #eceff1
}

.MuiDialog-paperWidthSm {
    max-width: 850px !important;
}

.font-size{
    font-size: 20px;
}

.note-checkbox,
.delete-note-btn {
    text-align: right;
    min-height: 40px;
}
.note-body{
    min-height: 100px;
    vertical-align: center;
}

.note-btns {
    min-height: 40px;
    vertical-align: bottom;
}


/* When the viewport is 900px or smaller - for smartphone users */
@media screen and (max-width: 900px) {
    .note-box{
        min-width: 140px;
        max-width: 140px;
        min-height: 140px;
        max-height: 140px;
        padding: 5px;
        border-radius: 10px;
        text-align: center;
        margin: 10px;
        display: table;
    }
    .font-size{
        font-size: 12px;
    }
    .note-body{
        min-height: 50px;
        vertical-align: center;
    }    
    .note-btns {
        min-height: 10px;
        vertical-align: bottom;
    }
}