.note-box{
    min-width: 200px;
    min-height: 200px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    display: table;
    background-color: lavender;
}

.add-note-body{
    min-height: 30px;
}

.add-note-btns {
    vertical-align: bottom;
}

.category-options{
    text-align: center;
    max-width: 80%;
    padding: 10px;
    margin: auto;
    margin-bottom: 25px;
}

.color-box{
    height: 24px;
    width: 24px;
}

.custom_category_btn{
    float: left
}
/* When the viewport is 900px or smaller - for smartphone users */
@media screen and (max-width: 900px) {
    .category-dialogue{
        max-width: 30%;
    }
}