.image2{
    float: right;
    transform: scaleX(-1);
    width: 25%
}


/* The width is 100%, when the viewport is 800px or smaller - for smartphone users */
@media screen and (max-width: 800px) {
    .image2 {
        margin-top: 5px;
        width: 50%;
    }
}
