.graph-btn{
    text-align: right;
    position: relative;
    bottom: 0;
}

.spoon-image{
    width: 50px;
    height: auto;
    transform: scaleY(-1);
}
.minimum-height-trigger-box{
    height: 75px;
}

max-header-height{
    max-height: 200px important!
}
