.graph-btn{
    text-align: right;
    position: relative;
    bottom: 0;
}

.spoon-image{
    width: 100px;
    height: auto;
    transform: scaleY(-1);
}
.minimum-height-trigger-box{
    height: 100px;
}